<h2>Dashboard</h2>
<br>

<table class="table table-striped">
  <tr>
    <th>Metric</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Product Count</td>
    <td><%= @product_count %></td>
  </tr>
  <tr>
    <td>Category Count</td>
    <td><%= @category_count %></td>
  </tr>
</table>

<%= link_to 'View Products and Categories', '/admin/products' %>

