<h2>Dashboard</h2>
<br>

<table class="table table-striped">
  <tr>
    <th>Metric</th>
    <th>Value</th>
  </tr>
  <tr>
    <td><%= link_to 'Product Count', [:admin, :products] %></td>
    <td><%= @product_count %></td>
  </tr>
  <tr>
    <td><%= link_to 'Category Count', [:admin, :categories] %></td>
    <td><%= @category_count %></td>
  </tr>
</table>
