<section class="cart-show">

  <header class="page-header">
    <h1></h1>
  </header>
  
  <%= render "cart" if enhanced_cart.any? %>

  <%= render "checkout_button" if enhanced_cart.any? %>
  
  <%= render "empty_cart" unless enhanced_cart.any? %>

</section>
