<section class="about-index">

  <header class="page-header">
    <h1>About Page</h1>
  </header>

  <div>
    The Amazon is a rainforest. A jungle is better than a rainforest. Therefore we are better than Amazon.
  </div>

</section>
